.page {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: var(--color-bg-page);
}

.container {
	width: 100%;
	max-width: 1115px;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	gap: 72px;
}

@media (max-width: 767px) {
	.page {
		padding-top: 51px;
		padding-bottom: 40px;
	}

	.container {
		max-width: 390px;
		padding-inline: 16px;
		gap: 40px;
		align-items: center;
	}
}
